@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050914;
  --foreground: #f5f5f5;
  --vh: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Sensation";
  src: url("/public/fonts/sensation/Sensation-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sensation";
  src: url("/public/fonts/sensation/Sensation-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Sensation";
  src: url("/public/fonts/sensation/Sansation_Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sensation";
  src: url("/public/fonts/sensation/Sansation_Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Sansation", sans-serif;
}
